<section>
<div id="first-option">
		<div class="container">
			<div class="row header">
				<div class="col-md-12">
					<h2>Langkah memulai memiliki toko di Hoqii</h2>
					<p>Pastikan mengikuti urutan langkah-langkah memiliki toko di Hoqii sebelum mengoperasikannnya</p>
				</div>
			</div>
            <br><br>
			<div class="row feature">
				<div class="col-md-6 info">
					<h4>Registrasi</h4>
					<p>
						Daftarkan toko Anda dengan mengisi form registrasi dan masuk dengan akun yang telah terdaftar.
					</p>
				</div>
				<div class="col-md-6 image">
					<img src="images/registrasi.png" class="img-responsive" alt="feature1" />
				</div>
			</div>
            <br><br>
			<div class="row feature backwards">
				<div class="col-md-6 info pull-right">
					<h4>Atur Toko Pertama Kali</h4>
					<p>
						Setelah berhasil masuk, beberapa hal yang harus dilakukan pertama kali adalah:
						<ul>
						<li>Membuat outlet dan gudang</li>
						<li>Membuat data satuan, kategori & sub kategori produk</li>
						<li>Membuat data produk</li>
						<li>Membuat kategori pembayaran & diskon</li>
					</ul>
					</p>
				</div>
				<div class="col-md-6 image">
					<img src="images/aturtoko-2.png" class="img-responsive" alt="feature2" />
				</div>
			</div>
			<div class="row feature">
				<div class="col-md-6 info">
					<h4>Toko Online di Web Hoqii</h4>
					<p>
						Setelah berhasil mengatur toko pertama, toko Anda akan tampil juga di web dengan domain disesuaikan dengan masing-masing toko. Anda dapat memilih tampilan web toko online sesuai yang ada sukai.
					</p>
				</div>
				<div class="col-md-6 image">
					<img src="images/onlineweb3.png" class="img-responsive" alt="feature2" />
				</div>
			</div>
            <br><br>
			<div class="row feature last">
				<div class="col-md-6 info pull-right">
					<h4>Download Aplikasi Hoqii di Playstore</h4>
					<p>
						Aplikasi Hoqii booth dapat di download di playstore. Instal aplikasi setelah di download di tablet yang akan digunakan untuk melakukan transaksi penjualan toko Anda.
					</p>
				</div>
				<div class="col-md-6 image">
					<img src="images/playstore-1.png" class="img-responsive" alt="feature3" />
				</div>
			</div>
            <br><br>
			<div class="row feature backwards">
				<div class="col-md-6 info  ">
					<h4>Atur Android Toko</h4>
					<p>
						Setelah aplikasi terinstal di tablet, berikut adalah langkah-langkah yang harus dilakukan:
						<ul>
						<li>Menentukan parameter</li>
						<li>Menentukan tampilan android</li>
						<li>Sinkronisasi data pengguna, data master dan data stok</li>
						<li>Menentukan metode sinkronisasi</li>
						<li>Menentukan printer</li>
					</ul>
					</p>
				</div>
				<div class="col-md-6 image">
					<img src="images/parameter.png" class="img-responsive" alt="feature2" />
				</div>
			</div>
            <br><br>
			<div class="row feature last">
				<div class="col-md-6 info pull-right">
					<h4>Memulai Transaksi Android Toko</h4>
					<p>
						Anda telah berhasil mengatur toko Anda, sekarang mulai mengoperasikan transaksi penjualan harian dengan langkah-langkah berikut:
						<ul>
							<li>Membuka Kas</li>
							<li>Melakukan Penjualan</li>
							<li>Menutup Kas</li>
						</ul>
					</p>
				</div>
				<div class="col-md-6 image">
					<img src="images/settingandroid.png" class="img-responsive" alt="feature3" />
				</div>
			</div>
            <br><br>
			<div class="row feature backwards">
				<div class="col-md-6 info">
					<h4>Laporan Transaksi Android</h4>
					<p>
						Anda dapat mengecek transaksi harian operasional penjualan toko anda dengan masuk ke websie Hoqii dan mengakses menu Laporan Harian.
					</p>
				</div>
				<div class="col-md-6 image">
					<img src="images/lapharian.png" class="img-responsive" alt="feature2" />
				</div>
			</div>
            <br><br>
			<div class="row feature last">
				<div class="col-md-6 info">
					<h4>Selesai</h4>
					<p>
						Klik Registrasi sekarang juga untuk memulai toko Anda di Hoqii.
					</p>
				</div>
			</div>
			<br><br>			
		</div>
	</div>
</section>